<!-- Loading Spinner -->
<div class="spinner-wrapper" *ngIf="loading">
  <p-progressSpinner styleClass="spinner"></p-progressSpinner>
</div>

<!-- Movie Card -->
<ng-container *ngIf="_movie() as media">
  <p-card class="movie-card">
    <div class="movie-card__content">
      <!-- Image -->
      <div class="movie-card__img">
        <img class="movie__img" *ngIf="media.poster_path || media.profile_path"
          [src]="'https://image.tmdb.org/t/p/w500' + (media.poster_path || media.profile_path)"
          [alt]="media.title || media.name" />
      </div>

      <!-- Details -->
      <div class="movie-card__details">
        <div class="card-title">
          <h2>{{ media.title || media.name }}</h2>
          <i class="pi" [ngClass]="moviesStore.isInWatchList(media.id, mediaType) ? 'pi-heart-fill active' : 'pi-heart'"
            (click)="moviesStore.addToWatchList($event, media, mediaType)">
          </i>
        </div>

        <div class="release-rating">
          <span class="release-date">{{ media.release_date || media.first_air_date }}</span>
        </div>

        <div class="rating-stars">
          <ng-container *ngFor="let star of [1,2,3,4,5]">
            <i class="pi" [ngClass]="{
                'pi-star-fill': star <= media.vote_average/2,
                'pi-star': star > media.vote_average/2
              }"></i>
          </ng-container>
          <span class="vote-count">{{ media.vote_count }}</span>
        </div>

        <p class="movie__description">{{ media.overview }}</p>

        <!-- Genres -->
        <div class="movie__genres">
          <ng-container *ngFor="let genre of media.genres; let i = index">
            <span class="genre">{{ genre.name }}</span>
          </ng-container>
        </div>

        <!-- Info -->
        <div class="movie__info">
          <span>Duration:
            <span>
              {{ media.runtime ? (media.runtime + ' Min') : (media.number_of_seasons ? (media.number_of_seasons + '
              seasons') : 'N/A') }}
            </span>
          </span>
          <span>Languages:
            <span>
              {{ media.spoken_languages?.[0]?.name || 'N/A' }}
            </span>
          </span>
        </div>

        <!-- Companies -->
        <div class="movie-companys__logos">
          <ng-container *ngFor="let logo of media.production_companies; let i = index">
            <img class="movie__logo" *ngIf="logo.logo_path" [src]="'https://image.tmdb.org/t/p/w185' + logo.logo_path"
              [alt]="media.title" />
          </ng-container>
        </div>

        <!-- Buttons -->
        <div class="movie__btns">
          <a pButton [href]="media.homepage" target="_blank" [rounded]="true" iconPos="right" label="Website"
            icon="pi pi-link" class="link-btn"></a>
          <a pButton [href]="'https://www.imdb.com/title/' + media.imdb_id" target="_blank" [rounded]="true"
            iconPos="right" label="IMDB" icon="pi pi-globe" class="link-btn"></a>
        </div>
      </div>
    </div>
  </p-card>

  <!-- Reviews -->
  <ng-container *ngIf="_reviews()?.length > 0; else noReviews">
    <h2 class="reviews__title">Reviews</h2>
    <p-accordion [value]="accordionIndex">
      <ng-container *ngFor="let review of _reviews()">
        <div class="review-accordion">
          <p-accordion-panel [value]="review.author">
            <p-accordion-header>Author: {{ review.author }}</p-accordion-header>
            <p-accordion-content>
              <p class="review-date">{{ review.created_at | date }}</p>
              <p class="review-content">{{ review.content }}</p>
            </p-accordion-content>
          </p-accordion-panel>
        </div>
      </ng-container>
    </p-accordion>
  </ng-container>
  <ng-template #noReviews>
    <div class="no-reviews">
      <p>No reviews yet</p>
    </div>
  </ng-template>

  <!-- Recommendations -->
  <ng-container *ngIf="_recommendations() as recMovies; else noRecs">
    <div class="carousel__wrapper">
      <h2 class="rec">Recommendations</h2>
      <p-carousel [value]="recMovies" [numVisible]="5" [numScroll]="1" [circular]="true"
        [style]="{ 'margin': '0 -0.5rem' }">
        <ng-template pTemplate="item" let-movie>
          <div class="carousel-item-wrapper">
            <app-movie-card [_mediaData]="movie" [type]="mediaType" class="small-card"></app-movie-card>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </ng-container>
  <ng-template #noRecs>
    <div class="loading">Sorry, no recommendations for this title.</div>
  </ng-template>
</ng-container>