:host ::ng-deep {
  .p-menubar {
    padding: 20px !important;
    border-radius: 0 !important;
    background: var(--primary-500) !important;
    justify-content: space-between;
    align-items: baseline;
  }
  .p-menubar-start {
    font-size: 25px;
    font-weight: 600;
  }
  .p-menubarsub {
    display: flex;
    justify-content: flex-end;
  }
  .p-button {
    color: var(--primary-contrast-500) !important ;
  }
  .p-menubar-end {
    flex: 0 0 auto !important;
    width: auto !important;
    margin-left: 0 !important ;
  }
}
