:host ::ng-deep {
  .p-menubar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 12px !important;
    border-radius: 0 !important;
    background: var(--primary-500) !important;
    justify-content: space-between;
    align-items: baseline;
  }
  .p-menubar-start a {
    font-size: 25px;
    font-weight: 600;
    color: var(--primary-contrast-500);
  }
  .p-menubar-item-label {
    font-weight: 500;
  }
  .p-menubarsub {
    display: flex;
    justify-content: flex-end;
  }

  .p-menubar-end {
    flex: 0 0 auto !important;
    width: auto !important;
    margin-left: 0 !important ;
  }
}
.end-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
::ng-deep .custom-button {
  background-color: var(--primary-500) !important;
  color: var(--primary-contrast-500) !important;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  .p-badge {
    height: 1.2rem !important;
    width: 1.2rem !important;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 960px) {
  ::ng-deep .p-menubar-mobile .p-menubar-button {
    order: -1 !important;
  }
}

@media (max-width: 600px) {
  .end-buttons {
    gap: 0.2rem !important;
    ::ng-deep .hide-label-mobile .p-button-label {
      display: none !important;
    }
  }
}

@media (max-width: 400px) {
  ::ng-deep .p-menubar-start a {
    font-size: 22px !important;
  }
}
