<p-card *ngIf="_movie() as movie" class="movie-card hover-animate">
  <ng-template #header>
    <img alt="Card" class="movie__img"
      [src]="'https://image.tmdb.org/t/p/w500' + (movie.poster_path || movie.profile_path)" [alt]="movie.title" />
  </ng-template>
  <h3> {{ movie.title }} </h3>
  <div class="movie__info">
    <p> {{ movie.release_date }} </p>
    <i class="pi" [ngClass]="isFav ? 'pi-heart-fill active' : 'pi-heart'" (click)="toggleFav()"></i>
  </div>
  <div class="progress-ring">
    <svg viewBox="0 0 36 36" class="circular-chart" [ngClass]="getColorClass(movie.vote_average)">
      <path class="circle-bg" d="M18 2.0845
         a 15.9155 15.9155 0 0 1 0 31.831
         a 15.9155 15.9155 0 0 1 0 -31.831" />
      <path class="circle" [attr.stroke-dasharray]="getVoteAveragePercent(movie.vote_average) + ', 100'" d="M18 2.0845
         a 15.9155 15.9155 0 0 1 0 31.831
         a 15.9155 15.9155 0 0 1 0 -31.831" />
      <text x="18" y="20.35" class="percentage">
        {{ getVoteAveragePercent(movie.vote_average) }}%
      </text>
    </svg>
  </div>
</p-card>