@if (moviesStore.movieWatchList().length > 0) {
<h2 class="watchList">Movies Watch List</h2>
<div class="movie__wrapper">
  @for (movie of moviesStore.movieWatchList(); track movie.id) {
  <p-card class="movie-card" [routerLink]="['/movie', movie.id]">
    <ng-template #header>
      <img alt="Card" class="movie__img"
        [src]="'https://image.tmdb.org/t/p/w500' + (movie.poster_path || movie.profile_path)" [alt]="movie.title" />
    </ng-template>
    <div class="card-header">
      <div class="card-title">
        <h2>{{ movie.title }}</h2>
        <i class="pi" [ngClass]="moviesStore.isInWatchList(movie.id, 'movie') ? 'pi-heart-fill active' : 'pi-heart'"
          (click)="moviesStore.addToWatchList($event, movie, 'movie')">
        </i>
      </div>

      <div class="release-rating">
        <span class="release-date">{{ movie.release_date }}</span>
      </div>

      <div class="rating-stars">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <i class="pi" [ngClass]="{
                  'pi-star-fill': star <= movie.vote_average / 2,
                  'pi-star': star > movie.vote_average / 2
                }"></i>
        </ng-container>
        <span class="vote-count">{{ movie.vote_count }}</span>
      </div>

      <p class="movie__description">
        {{ movie.overview?.split(' ').slice(0, 50).join(' ') }}...
      </p>
    </div>
  </p-card>
  }
</div>
}

@if (moviesStore.tvWatchList().length > 0) {
<h2 class="watchList">TV Shows Watch List</h2>
<div class="movie__wrapper">
  @for (tv of moviesStore.tvWatchList(); track tv.id) {
  <p-card class="movie-card" [routerLink]="['/tv', tv.id]">
    <ng-template #header>
      <img alt="Card" class="movie__img" [src]="'https://image.tmdb.org/t/p/w500' + (tv.poster_path || tv.profile_path)"
        [alt]="tv.name" />
    </ng-template>
    <div class="card-header">
      <div class="card-title">
        <h2>{{ tv.name }}</h2>
        <i class="pi" [ngClass]="moviesStore.isInWatchList(tv.id, 'tv') ? 'pi-heart-fill active' : 'pi-heart'"
          (click)="moviesStore.addToWatchList($event, tv, 'tv')">
        </i>
      </div>

      <div class="release-rating">
        <span class="release-date">{{ tv.first_air_date }}</span>
      </div>

      <div class="rating-stars">
        <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
          <i class="pi" [ngClass]="{
                  'pi-star-fill': star <= tv.vote_average / 2,
                  'pi-star': star > tv.vote_average / 2
                }"></i>
        </ng-container>
        <span class="vote-count">{{ tv.vote_count }}</span>
      </div>

      <p class="movie__description">
        {{ tv.overview?.split(' ').slice(0, 50).join(' ') }}...
      </p>
    </div>
  </p-card>
  }
</div>
}

@if (
moviesStore.movieWatchList().length === 0 &&
moviesStore.tvWatchList().length === 0
) {
<p class="no-movies">No items in your watch list.</p>
}