<h2 class="watchList">My Watch list </h2>
@if(moviesStore.totalWatchList()>0){
<div class="movie__wrapper">
  @for (movie of moviesStore.watchList(); track movie.id) {
  <p-card class="movie-card">
    <ng-template #header>
      <img alt="Card" class="movie__img"
        [src]="'https://image.tmdb.org/t/p/w500' + (movie.poster_path || movie.profile_path)" [alt]="movie.title" />
    </ng-template>
    <div class="card-header">
      <div class="card-title">
        <h2>{{movie.title}}</h2>
        <i class="pi" [ngClass]="this.moviesStore.isInWatchList(movie.id)  ? 'pi-heart-fill active' : 'pi-heart'"
          (click)="this.moviesStore.addToWatchList($event,movie)"></i>
      </div>
      <div class="release-rating">
        <span class="release-date">{{movie.release_date}}</span>
      </div>
      <div class="rating-stars">
        <ng-container *ngFor="let star of [1,2,3,4,5]">
          <i class="pi" [ngClass]="{
            'pi-star-fill': star <= movie.vote_average/2,
            'pi-star': star > movie.vote_average/2
          }"></i>
        </ng-container>
        <span class="vote-count">{{movie.vote_count}}</span>
      </div>
      <p class="movie__description"> {{
        movie.overview
        ?.split(' ')
        .slice(0, 50)
        .join(' ')
        }}...</p>
    </div>

  </p-card>
  }
</div>
}@else {
<p>There is no movies in the watch list.</p>
}