@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
// colors
:root {
  --primary-500: #ffe353;
  --primary-600: #e6cc4b;
  --primary-900: #998832;
  --primary-contrast-500: #000000;
  --p-inputtext-background: #fff !important;
  scroll-behavior: smooth;
}

.dark {
  --primary-500: #020617;
  --primary-600: #0f172a;
  --primary-contrast-500: #fff;
  --p-inputtext-background: #020617 !important;
}

// general styles
.container {
  width: 100%;
  padding: 0 2rem;
}
section {
  padding: 3rem 0;
}
li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}
