@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
// colors
:root {
  --primary-500: #ffe353;
  --primary-600: #e6cc4b;
  --primary-900: #998832;
  --primary-contrast-500: #000000;
  --p-inputtext-background: #fff !important;
  scroll-behavior: smooth;
}

.dark {
  --primary-500: #020617;
  --primary-600: #0f172a;
  --primary-contrast-500: #fff;
  --p-inputtext-background: #020617 !important;
}
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}
// general styles
.container {
  width: 100%;
  padding: 0 2rem;
}
section {
  padding: 7rem 0 3rem;
}
li {
  list-style: none;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

p {
  font-size: 14px;
  font-weight: 400;
}

// loadding spinner
.spinner-wrapper {
  position: absolute;
  top: 50%;
  right: 50%;

  p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
  }
}
// media wrapper styles
.movies__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr) !important;
  gap: 1.5rem;
  padding: 1rem;
  align-items: stretch;
}
@media (max-width: 1200px) {
  .movies__wrapper {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
@media (max-width: 875px) {
  .movies__wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 600px) {
  .movies__wrapper {
    grid-template-columns: repeat(1, 1fr) !important  ;
  }
}

.p-toast.p-toast-top-center {
  top: 2px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
